:root {
  --white: #F3F8FF;
  --white-filter: invert(88%) sepia(2%) saturate(3279%) hue-rotate(197deg) brightness(111%) contrast(101%);

  --grey: hsl(215, 100%, 98%, 0.6);

  --accent: #33A6FB;
  --accent-hover: #297cbb;
  --accent-transparent: hsla(206, 96%, 59%, 0.15);

  --dark-blue: #082032;
  --light-blue: #0e3757;
  --blue: #0C2F49;
  --blue-transp: hsla(206, 96%, 59%, 0.15);
  --blue-transp2: hsla(206, 72%, 17%, 0.5);

  --danger: #fb3333;
  --danger-transp: #fb333310;

  --default-animation: scale3d(1.07, 1.07, 1.07);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--dark-blue);
}

.cover {
  width: 100vh;
  height: 100vh;
  background-color: var(--dark-blue);
}

.spinner {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

/* .hide {
  opacity: 0;
} */

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.errors {
  background-color: var(--danger-transp);
  border: 1px solid var(--danger);
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 15px;
}

.errors.hide {
  display: none;
}

.errors.show {
  display: block;
}

.alert {
  font-size: 0.8rem;
  color: var(--danger);
}

.alert.hide {
  display: none;
}

.alert.show {
  display: block;
}

a {
  color: var(--white);
  text-decoration: none;
}

.btn {
  font-family: inherit;
  white-space: nowrap;
  border: none;
  background-color: var(--accent);
  color: var(--white);
  padding: 5px 15px;
  border-radius: 5px;
  transition: 0.2s;
}

.btn-outline {
  white-space: nowrap;
  padding: 3px 15px;
  border: 2px solid var(--accent);
  border-radius: 5px;
  transition: 0.2s
}

.btn:hover, .btn-outline:hover {
  background-color: var(--accent-hover);
  cursor: pointer;
  transform: var(--default-animation);
}

.btn-outline:hover {
  border: 2px solid var(--accent-hover);

}

.nav {
  padding: 8px 300px;
  background-color: var(--blue);
  color: var(--white);
}

.nav.sec-nav {
  background: none;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-brand {
  font-size: 1.4rem;
  font-weight: bold;
}

.nav-title {
  margin: 0 10px;
}

.search-form {
  margin: 0 10px;
}

.search {
  font-family: inherit;
  border: 1px solid var(--accent);
  background-color: var(--accent-transparent);
  color: var(--white);
  border-radius: 5px;
  padding: 5px;
}

.nav-items {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-item {
  margin: 0 5px;
  font-family: inherit;
  transition: 0.15s;
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
}

.profile-nav-link {
  white-space: nowrap;
}

.profile-nav-link img {
  margin-right: 3px;
}

.profile-nav-link > img,
.profile-nav-link > span {
  vertical-align: middle;
}

.nav-item img {
  vertical-align: middle;
  background-color: none;
  filter: var(--white-filter);
  width: 34px;
}

.nav-item-btn {
  border: none;
  background: none;
}

.nav-items * {
  background-color: none;
}

.alert-link, .profile-nav-link {
  font-size: 0.9rem;
  padding: 2px 5px;
  border-radius: 5px;
}

.alert-link:hover, .profile-nav-link:hover {
  background-color: var(--blue-transp);

}

.nav-close-btn img {
  filter: var(--white-filter);
  vertical-align: middle;
  transition: 0.2s;
}

.nav-close-btn img:hover {
  transform: var(--default-animation);
}

.dropdown.hide {
  visibility: hidden;
  position: absolute;
  height: 0;
  width: 0;
}

.dropdown.hide .dropdown-menu {
  display: none;
}

.dropdown.show {
  visibility: visible;
}

.dropdown {
  border: 2px solid var(--accent);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: left;
  transition: 0.2s;
  margin-top: 0px;
  border-radius: 5px;
  top: 46px;
  cursor: default;
  background-color: var(--light-blue);
  width: 200px;
  height: 250px;
  position: absolute;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown-link {
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

.dropdown-link:hover {
  background-color: var(--blue-transp);
}

.title {
  white-space: nowrap;
  margin: 15px 0;
}

.login, .register {
  margin: auto;
  width: 33%;
  color: var(--white);
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-container form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-container form label {
  margin-top: 5px;
}

.form-container form input {
  font-family: inherit;
  color: var(--white);
}

.form-container form input[type="text"], input[type="password"] {
  border: 1px solid var(--accent);
  background-color: var(--accent-transparent);
  padding: 5px;
  border-radius:  5px;
}

.form-container form input[type="submit"] {
  margin-top: 10px;
}

/* PROFILE PAGE */
.profile {

  width: 60%;
  margin: 50px auto;
  color: var(--white);
}

.profile-main-section  {
  height: 225px;
  width: 100%;
}

.profile-main-section .top {
  display: flex;
  justify-content: right;
}

.profile-img {
  border-radius: 50px;
  margin-top: -55px;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.profile-edit-btn {
  margin: 10px;
}

.profile-main-section .bottom {
  text-align: center;
}

.profile-name {
  margin-top: 5px;
  font-size: 1.4rem;
  font-weight: 600;
}

.profile-desc {
  margin: 5px 0;
  font-size: 0.9rem;
}

.profile-info {
  margin-bottom: 25px;
}

.profile-info .profile-info-text {
  margin: 5px 15px;
  color: var(--grey);
  text-decoration: none;
  font-size: 0.75rem;
}

.profile-sec-sections {
  width: 100%;
  display: flex;
}


.p-section {
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--accent);
  background-color: var(--blue-transp2);
}

.profile-stats {
  color: var(--grey);
  
  width: 25%;
}

.profile-blogs {
  width: 100%;
}

.profile-blogs .blog {
  margin: 10px 0 0 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--accent);
  background-color: var(--blue-transp2);
}


/* EDITOR */
.create-post {
  margin: 15px 300px;
}

.editor {
  width: 60%;
}

.editor-options {
  display: flex;
  justify-content: right;
}

.option-btn {
  cursor: pointer;
  color: var(--white);
  font-family: inherit;
  margin: 5px;
  border: none;
  background: none;
}

.editor-fields {
  font-family: 'Roboto Mono', monospace;

}

.post-title {
  border-radius: 5px;
  border: 1px solid var(--accent);
  background-color: var(--blue-transp2);
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.post-title input {
  outline: none;
  padding: 5px 15px;
  font-family: inherit;
  color: var(--white);
  border: none;
  background: none;
}

.post-title .editor-title {
  font-size: 1.1rem;
}

.post-content {
  margin-top: 15px;
}

.post-content textarea {
  padding: 15px;

  color: var(--white);
  overflow-y: auto;
  background-color: var(--blue-transp2);
  border-radius: 5px;
  border: 1px solid var(--accent);
  width: 100%;
  resize: none;
  font-family: inherit;
  min-height: 65vh;
}

.post-content textarea::placeholder {
  color: var(--white);
}

.editor-btn {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;

}