:root {
  --white: #F3F8FF;
  --white-filter: invert(88%) sepia(2%) saturate(3279%) hue-rotate(197deg) brightness(111%) contrast(101%);

  --grey: hsl(215, 100%, 98%, 0.6);

  --accent: #33A6FB;
  --accent-hover: #297cbb;
  --accent-transparent: hsla(206, 96%, 59%, 0.15);



  --dark-blue: #061927;
  --light-blue: #0e3757;
  --blue: #0C2F49;
  --blue-transp: hsla(206, 96%, 59%, 0.15);
  --blue-post: #0c304b;
  --blue-post-transp: hsla(206, 96%, 59%, 0.05);


  --danger: #fb3333;
  --danger-transp: #fb333310;

  --default-animation: scale3d(1.07, 1.07, 1.07);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--dark-blue);
}

.cover {
  width: 100vh;
  height: 100vh;
  background-color: var(--dark-blue);
}

.spinner {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

/* .hide {
  opacity: 0;
} */

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.errors {
  background-color: var(--danger-transp);
  border: 1px solid var(--danger);
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 15px;
}

.errors.hide {
  display: none;
}

.errors.show {
  display: block;
}

.alert {
  font-size: 0.8rem;
  color: var(--danger);
}

.alert.hide {
  display: none;
}

.alert.show {
  display: block;
}

a {
  color: var(--white);
  text-decoration: none;
}

.btn {
  font-family: inherit;
  white-space: nowrap;
  border: none;
  background-color: var(--accent);
  color: var(--white);
  padding: 5px 15px;
  border-radius: 5px;
  transition: 0.2s;
}

.btn-outline {
  white-space: nowrap;
  padding: 3px 15px;
  border: 2px solid var(--accent);
  border-radius: 5px;
  transition: 0.2s
}

.btn:disabled {
  background-color: var(--accent-transparent);
  cursor: not-allowed !important;
  transform: none !important;
}

.btn:disabled:hover {
  background-color: var(--accent-transparent);
}

.btn:hover, .btn-outline:hover {
  background-color: var(--accent-hover);
  cursor: pointer;
  transform: var(--default-animation);
}

.btn-outline:hover {
  border: 2px solid var(--accent-hover);

}

.nav {
  padding: 8px 300px;
  background-color: var(--blue);
  color: var(--white);
}

.nav.sec-nav {
  background: none;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-brand {
  font-size: 1.4rem;
  font-weight: bold;
}

.nav-title {
  margin: 0 10px;
}

.search-form {
  margin: 0 10px;
}

.search {
  font-family: inherit;
  border: 1px solid var(--accent);
  background-color: var(--accent-transparent);
  color: var(--white);
  border-radius: 5px;
  padding: 5px;
}

.nav-items {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-item {
  margin: 0 5px;
  font-family: inherit;
  transition: 0.15s;
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
}

.profile-nav-link {
  white-space: nowrap;
}

.profile-nav-link img {
  margin-right: 3px;
}

.profile-nav-link > img,
.profile-nav-link > span {
  vertical-align: middle;
}

.nav-item img {
  vertical-align: middle;
  background-color: none;
  filter: var(--white-filter);
  width: 34px;
}

.nav-item-btn {
  border: none;
  background: none;
}

.nav-items * {
  background-color: none;
}

.alert-link, .profile-nav-link {
  font-size: 0.9rem;
  padding: 2px 5px;
  border-radius: 5px;
}

.alert-link:hover, .profile-nav-link:hover {
  background-color: var(--blue-transp);

}

.nav-close-btn img {
  filter: var(--white-filter);
  vertical-align: middle;
  transition: 0.2s;
}

.nav-close-btn img:hover {
  transform: var(--default-animation);
}

.dropdown.hide {
  visibility: hidden;
  position: absolute;
  height: 0;
  width: 0;
}

.dropdown.hide .dropdown-menu {
  display: none;
}

.dropdown.show {
  visibility: visible;
}

.dropdown {
  border: 2px solid var(--accent);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: left;
  transition: 0.2s;
  margin-top: 0px;
  border-radius: 5px;
  top: 46px;
  cursor: default;
  background-color: var(--light-blue);
  width: 200px;
  height: 250px;
  position: absolute;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown-link {
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

.dropdown-link:hover {
  background-color: var(--blue-transp);
}

.title {
  white-space: nowrap;
  margin: 15px 0;
}

/* HOME */
.home {
  width: 100%;
  color: var(--white);
  display: flex;
  justify-content: center;
}

.home-container {
  width: 80%;
}

.home-feed {
  display: flex;
  justify-content: center;
}

.home-feed-container {
  width: 50%;
}

.home-nav {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: left;
}

.login, .register {
  margin: auto;
  width: 33%;
  color: var(--white);
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-container form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-container form label {
  margin-top: 5px;
}

.form-container form input {
  font-family: inherit;
  color: var(--white);
}

.form-container form input[type="text"], input[type="password"] {
  border: 1px solid var(--accent);
  background-color: var(--accent-transparent);
  padding: 5px;
  border-radius:  5px;
}

.form-container form input[type="submit"] {
  margin-top: 10px;
}

/* PROFILE PAGE */
.profile {
  width: 60%;
  margin: 50px auto;
  color: var(--white);
}

.profile-main-section  {
  height: 225px;
  width: 100%;
}

.profile-main-section .top {
  display: flex;
  justify-content: center;
}

.profile-img {
  border-radius: 50px;
  margin-top: -55px;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.profile-edit-btn {
  margin: 10px;
}

.profile-main-section .bottom {
  text-align: center;
}

.profile-name {
  margin-top: 5px;
  font-size: 1.4rem;
  font-weight: 600;
}

.profile-desc {
  margin: 5px 0;
  font-size: 0.9rem;
}

.profile-info {
  margin-bottom: 25px;
}

.profile-info .profile-info-text {
  margin: 5px 15px;
  color: var(--grey);
  text-decoration: none;
  font-size: 0.75rem;
}

.profile-sec-sections {
  width: 100%;
  display: flex;
}


.p-section {
  margin: 10px 0 0 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--accent);
  background-color: var(--blue-post);
}

.profile-stats {
  color: var(--grey);
  
  width: 25%;
}

.profile-posts {
  width: 100%;
}

.profile-posts .post-small {
  margin: 10px 0 0 10px;
  border-radius: 5px;
  border: 1px solid var(--accent);
  background-color: var(--blue-post);
}


/* POST & EDITOR */
.post {
  margin: 15px 300px;
}

.post-wrapper {
  display: flex;
}

.post-container {
  width: 60%;
  min-width: 390px;
}

.editor-options {
  display: flex;
}

.post-container .editor-options {
  justify-content: right;
}
.option-btn {
  transition: 0.2s;
  position: relative;
  cursor: pointer;
  color: var(--white);
  font-family: inherit;
  margin: 5px;
  background: none;
  border: none;
}

.option-btn::after {
  content: " ";
  display: block;
  border-top: 2px solid var(--accent-transparent);
  border-bottom: 2px solid var(--accent-transparent);
  border-radius: 2px;
}

.option-btn.highlight::after {
  content: " ";
  display: block;
  border-top: 2px solid var(--accent);
  border-bottom: 2px solid var(--accent);
  border-radius: 2px;
 }
 

.post-fields {
  font-family: 'Roboto Mono', monospace;
}

.post-upper {
  border-radius: 5px 5px 0 0;
  /* border-top: 1px solid var(--accent);
  border-left: 1px solid var(--accent);
  border-right: 1px solid var(--accent);  */
  background-color: var(--blue-post);
  display: flex;
  flex-direction: column;
  min-height: 93px;
}

.post-editor .post-upper{
  padding: 15px 15px 0 15px;
}

.post-wrapper .post-upper{
  padding: 15px 15px 0 0;
}

.post-editor .post-title, .editor-tags{
  padding: 0 15px;
}

.post-fields .post-upper {
  padding: 15px;
}

.post-wrapper .editor-tags {
  padding: 0;
}

.post-upper .post-title, .editor-tags {
  outline: none;
  font-family: inherit;
  color: var(--white);
  border: none;
  background: none;
}

.post-title {
  font-size: 2.5rem;
}

.post-editor .post-content {
  background-color: var(--blue-post);
  border-radius:  0 0 5px 5px;
  padding: 5px 15px 15px 30px;
  color: var(--white);
}

.post-wrapper .post-body {
  background-color: var(--blue-post);
  border-radius: 5px;
  padding: 5px 15px 15px 30px;
  color: var(--white);
}

.post-content .p-content-live {
  overflow-y: auto;
  border: none;
  width: 100%;
  font-family: inherit;
}

.post-content .p-content-editor {
  outline: none;
  color: var(--white);
  overflow-y: auto;
  border: none;
  width: 100%;
  background: none;
  font-family: inherit;
  min-height: 65vh;
  resize: none;
}



.post-content textarea::placeholder {
  color: var(--white);
}

.editor-btn {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}

.editor-preview {
  line-height: initial;
  color: var(--white);
}

.tag {
  display: inline-flex;
  font-size: 0.80rem;
  margin-right: 10px;
}

.tag span {
  color: var(--grey);

}

.post-actions {
  font-size: 0.85rem;
  margin-top: 10px;
  display: flex;
}

.post-action {
  font-family: inherit;
  border: none;
  background: none;
  margin-right: 20px;
  color: var(--white);
}

.post-action > img,
.post-action > span {
  vertical-align: middle;
}

.post-actions img {
  margin-right: 5px;
  filter: var(--white-filter);
}

.post-action.like img {
  cursor: pointer;
}

.post-action.comment {
  cursor: pointer;
}

/* POST ACTIONS */
.post-actions .post-sidebar-content {
  width: 100%;
}
.post-actions .delete-btn {
  background-color: var(--danger);
  width: 100%;
}

/* POST SIDEBAR */
.post-sidebar {
  background-color: var(--blue-post);
  height: fit-content;
  width: 20%;
  color: var(--white);
  padding: 15px;
  border-radius: 5px;
  margin: 0 15px;
  text-align: center;

}

.author-name {
  font-size: 1.2rem;
}

.author-desc {
  font-size: 0.9rem;
}

.author-follow {
  width: 100%;
  margin: 5px 0;
}

/* SEARCH RESULT */
.search-results {
  color: var(--white);
  display: flex;
  justify-content: center;
}

.search-title {
  margin-top: 15px;
}

/* SMALL POST */
.post-small {
  margin: 15px 0;
  background-color: var(--blue-post);
  padding: 20px;
  width: 500px;
  border-radius: 5px;
}

.post-small .post-info {
  line-height: 1;
}

.post-created {
  font-size: 0.8rem;
  color: var(--grey);
}

.post-small .editor-tags {
  padding: 0;
}

/* COMMENT SECTION */

.post-comments {
  width: 100%;
}

.comments-title {
  font-size: 1.5rem;
  margin: 15px 0;
}

.post-comments-container {
  padding: 0 50px;
}

.post-comments .new-comment {
  margin: 10px 0;
}

.post-comments .new-comment textarea {
  border-radius: 3px;
  color: var(--white);
  font-family: inherit;
  padding: 5px;
  max-width: 100%;
  min-width: 100%;
  max-height: 125px;
  min-height: 125px;
  border: 1px solid var(--blue-transp);
  background-color: var(--blue-post-transp);
  transition: 0.2s;
  resize: none;
}

.post-comments .new-comment textarea:focus {
  background-color: var(--dark-blue);
}

.comment-btn {
  margin: 5px 0;
}

.post-comment {
  padding: 15px;
  border: 1px solid var(--blue-transp);
  border-radius: 3px;
  margin: 10px 0;
}

.comment-top {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.comment-top p {
  margin-right: 5px;
  font-size: 1.2rem;
}

.comment-top span {
  color: var(--grey);
}

