:root {
  --white: #F3F8FF;
  --white-filter: invert(88%) sepia(2%) saturate(3279%) hue-rotate(197deg) brightness(111%) contrast(101%);

  --accent: #33A6FB;
  --accent-hover: #297cbb;
  --accent-transparent: hsla(206, 96%, 59%, 0.15);

  --dark-blue: #082032;
  --light-blue: #0e3757;
  --blue: #0C2F49;

  --danger: #fb3333;
  --danger-transp: #fb333310;

  --default-animation: scale3d(1.07, 1.07, 1.07);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--dark-blue);
}

.cover {
  width: 100vh;
  height: 100vh;
  background-color: var(--dark-blue);
}

.spinner {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

/* .hide {
  opacity: 0;
} */

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.errors {
  background-color: var(--danger-transp);
  border: 1px solid var(--danger);
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 15px;
}

.alert {
  font-size: 0.8rem;
  color: var(--danger);
}

.btn {
  white-space: nowrap;
  border: none;
  background-color: var(--accent);
  padding: 5px 15px;
  border-radius: 5px;
  transition: 0.2s;
}

.btn-outline {
  white-space: nowrap;
  padding: 3px 15px;
  border: 2px solid var(--accent);
  border-radius: 5px;
  transition: 0.2s
}

.btn:hover, .btn-outline:hover {
  background-color: var(--accent-hover);
  cursor: pointer;
  transform: var(--default-animation);
}

.btn-outline:hover {
  border: 2px solid var(--accent-hover);

}

.nav {
  padding: 8px 300px;
  background-color: var(--blue);
  color: var(--white);
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-brand {
  font-size: 1.4rem;
  font-weight: bold;
}

.search-form {
  margin: 0 10px;
}

.search {
  font-family: inherit;
  border: 1px solid var(--accent);
  background-color: var(--accent-transparent);
  color: var(--white);
  border-radius: 5px;
  padding: 5px;
}

.nav-items {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-item {
  font-family: inherit;
  transition: 0.15s;
  cursor: pointer;
  margin: 0 5px;
  text-decoration: none;
  color: var(--white);
}

.profile-link {
  white-space: nowrap;
}

.profile-link img {
  margin-right: 3px;
}

.profile-link > img,
.profile-link > span {
  vertical-align: middle;
}

.nav-item img {
  vertical-align: middle;
  background-color: none;
  filter: var(--white-filter);
  width: 34px;
}

.nav-item-btn {
  border: none;
  background: none;
}

.nav-items * {
  background-color: none;
}

.alert-link, .profile-link {
  font-size: 1rem;
  padding: 2px;
  border-radius: 5px;
}

.alert-link:hover, .profile-link:hover {
  background-color: hsla(206, 96%, 59%, 0.15);

}

.dropdown.hide {
  visibility: hidden;
  position: absolute;
  height: 0;
  width: 0;
}

.dropdown.hide .dropdown-menu {
  display: none;
}

.dropdown.show {
  visibility: visible;
}

.dropdown {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: left;
  transition: 0.2s;
  margin-top: 0px;
  border-radius: 5px;
  top: 46px;
  cursor: default;
  left: 70%;
  background-color: var(--light-blue);
  width: 200px;
  height: 250px;
  position: absolute;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
}

.dropdown-link {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin: 5px;
}

.title {
  white-space: nowrap;
  margin: 15px 0;
}

.login, .register {
  margin: auto;
  width: 33%;
  color: var(--white);
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-container form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-container form label {
  margin-top: 5px;
}

.form-container form input {
  font-family: inherit;

  color: var(--white);

}

.form-container form input[type="text"], input[type="password"] {
  border: 1px solid var(--accent);
  background-color: var(--accent-transparent);
  padding: 5px;
  border-radius:  5px;

}

.form-container form input[type="submit"] {
  margin-top: 10px;
}

